{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}All menu | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">好きなフレーバーをお選びいただけます。</h2>
        {% if foods.count > 0 %}
            <div class="grid grid-3">
                {% for food in foods %}
                    <div>
                        <a href="{% url 'food' food.id %}">
                            <img class="image-block" src="{% static food.image_relative_url %}" alt="">
                        </a>
                        <h5 class="food-title">
                            <a href="{% url 'food' food.id %}">{{ food.title }}</a>
                        </h5>
                        {% if food.special_price is not None%}
                            <p>
                                <span>￥{{ food.special_price|floatformat:'g' }}</span>
                                <del class="text-gray">￥{{ food.price|floatformat:'g'}}</del>
                            </p>
                        {% else %}
                            <p>￥{{ food.price|floatformat:'g'}}</p>
                        {% endif %}    
                        {% if food.is_premium %}
                            <p>*** Premium flavor ***</p>
                        {% endif %}
                        <p>特別価額は{{food.promotion_end_at|date:'Y/m/j'}}まで</p>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <p>no data here. just moment please!</p>
        {% endif %}
    </div>
</section>
{% endblock %}