{% extends 'app_general/components/base.html' %}

{% block site_title %}About | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About my Icecream website</h2>
        <h4>2022から開業</h4>
        <p>仕込みからカップ詰めまで、全ての工程を手作業で、 一つ一つ大切に仕上げております。 私たち自身、「口に入るものは、できるだけ人の手によって作られたものを楽しみたい」という思いがあり、お客様にも「私達が手間をかけて作りあげたアイスクリームを安心して食べて頂きたい」と考えております。機械で大量生産されるものにはない、「手作りの温かさ」と、「ハワイ島で育まれた自然の味わい」をどうぞお楽しみください。</p>
        <h4>アイスクリームの保管方法 & 賞味期限は？</h4>
        <p> お手元に届いたアイスクリームは、すぐにお召し上がりにならない場合は、発泡スチロールの箱から出して、-18℃以下の冷凍庫で保存し、7日以内にお召し上がり下さい。自然の味わいと口どけ感を大切にする為、乳化剤や安定剤も天然の素材から抽出したものをごく少量に抑えて使用しております。その為、冷凍品でもあまり日持ちは致しません。一度やわらかくなったものや溶けてしまったものを再度凍らせても、乳化分離によるざらつきがでてきますので、ご注意下さい。また、開閉の多い冷凍庫の場合は、温度が安定せず乳化分離が早くすすみますので、ご注意下さい。</p>
        <h4>配送方法・送料について</h4>
        <p>ヤマト運輸のクール冷凍便にてお届け致します。
            送料、ドライアイス、保冷容器代は商品価格に含まれております。
            ※北海道、九州は別途送料が￥440、沖縄は￥660かかりますので、ご了承下さいませ。それ以外の地域は、商品代金のみで、追加料金はございません。</p>

   
    </div>
</section>
{% endblock %}
