{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing">
    <div>
        <h1 class="home-landing-text">いらっしゃいませ！</h1>
        <h5 class="home-landing-text">ハンドメイドの小さいアイスクリーム屋です。</h5>
        <h6 class="home-landing-text">ぜひ来てください。作りたての美味しさをお楽しみ頂けます。</h6>
        <p>
            <a class="button" href="{% url 'foods' %}">メニューを見る</a>
            <a class=" button button-primary" href="{% url 'subscription' %}">プロモーションを受け取る</a>
        </p>
    </div>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">お店の特徴</h4>
        <div class="grid grid-3">
            <div>
                <img class="image-block" src="{% static 'app_general/home-about-1.jpg' %}" alt="">
                <p>アイスクリームは毎朝、お店で手作り。
                    作りたてが最もおいしいと確信しているからなのです。</p>    
            </div>
            <div>
                <img class="image-block" src="{% static 'app_general/home-about-2.jpg' %}" alt="">
                <p>クリエイティブな喜びと、おいしさと楽しさ、充実感と幸福感。</p>    
            </div>
            <div>
                <img class="image-block" src="{% static 'app_general/home-about-3.jpg' %}" alt="">
                <p>お好きなアイスクリームとミックスインを選んで、自分だけの組み合わせにチャレンジしてください。 </p>    
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">私たちについて</a>
        </p>
    </div>
</section>
{% endblock %}