{% extends 'app_general/components/base.html' %}

{% block site_title %}登録完了 | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">ขอบคุณสำหรับการลงทะเบียน</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipis
            icing elit. Similique debitis pariatur, illo placeat o
            fficiis dolorum cupiditate dicta animi possimus minima vitae sit exercitat
            ionem doorem illum non aspernatur beatae, corrupti veniam.
        </p>
        <a class="button button-primary" href="{% url 'home' %}">ホームへ</a>
    </div>

</section>
{% endblock %}
